@import 'variables';

nav {
	background-color: #ccc;
	width: 100%;
	overflow: hidden;
	padding: 1em;

	.navWide {
		display: none;

		a {
			text-decoration: none;
			margin: 1em;
		}
	}

	.navNarrow {

		i {
			float: left;
			line-height: 5em;
			margin: 1em;
			text-align: left;
			cursor: pointer;
			vertical-align: middle;
			color: #000;
		}

		a {
			text-decoration: none;
		}
	}
}

// Set breakpoints to actual breakpoints for devices
@media (min-width: 400px) {
	.navWide {
		display: block;
	}

	.navNarrow {
		display: none;
	}
}